<!-- <ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>

  <!-- <ion-slides pager="true" [options]="slideOpts" scrollbar="true">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides> -->

  Detail

  <ion-item *ngIf="article">
    {{article.id}} - {{article.title}}
  </ion-item>


  
</ion-content>
