<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>New Article</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
 
   
      <form [formGroup]="form" (ngSubmit)="addBook()">
        <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input formControlName="bookName"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="floating">Category</ion-label>
              <ion-textarea formControlName="category"></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Price</ion-label>
              <ion-textarea formControlName="price"></ion-textarea>
            </ion-item>

            <div padding>
            <ion-button  expand="block" type="submit" >
                Save
                <ion-icon slot="start" name="disc" ></ion-icon>
              </ion-button>
            </div>
            </form>
   

</ion-content>