<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>New Article</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
 
   
      <form>
        <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea></ion-textarea>
            </ion-item>

            
            <div padding>
            <ion-button  expand="block" >
                Save
                <ion-icon slot="start" name="disc"></ion-icon>
              </ion-button>
            </div>
            </form>
   

</ion-content>